<div class="jumbotron mt4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, reiciendis. Animi rerum eius debitis accusantium.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsum minus sequi reprehenderit tempore veniam.</p>
    <a href="http://www.arvoresolutions.com" class="btn btn-primary">Visit de site</a>

</div>